<config>
<proplibs>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/bdquest.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/buildings_v1.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/buildings_v1_winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/builds.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/builds_v2.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/builds_winter.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Cave_Rocks.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Cave_Tiles.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/castle.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/castle_winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/complex_build_v1.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/complex_build_v1_winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/crash.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/elements_v1.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/elements_v1_winter.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/func.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/Halloween.tara"/> 
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/IndustrialZone2.0.tara"/> 
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/kahgel.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/kahgel_Winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/kariz.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/kariz_Winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/landscape.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/landscape_v2.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/landscape_winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/land_v1.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/land_v1_winter.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/proplibs1.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/megaLand.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/MegaProps.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/NY.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/Noob.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Novel2.0.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/rocks.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/shits.tara?v70"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Silence2.0.tara?v70"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Tanks2008map.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/TanksMap.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/Test.tara"/>
<!--proplib url="https://old-tanks.github.io/2010/resources/proplibs/water.tara"/--> 
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/yonje.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/yonje_Winter.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/zamin.tara"/>
<proplib url="https://old-tanks.github.io/2010/resources/proplibs/zamin_Winter.tara"/>
<!proplib url="https://old-tanks.github.io/2010/resources/proplibs/Zone2.0.tara"/>
<!--

 <proplib url="https://old-tanks.github.io/2010/resources/proplibs/CastleWinter.tara"/> 
-->
</proplibs>
<map url="https://old-tanks.github.io/2010/map.xml"/>
<!--  	<map url="https://old-tanks.github.io/2010/map_industrial_zone.xml"/>   -->
<!--  	<map url="https://old-tanks.github.io/2010/map_novel.xml"/>  -->
<options>
<tank-explosion>
<fps>20</fps>
<offset>100</offset>
<frame-width>300</frame-width>
<settings>
<maxEmitters>5</maxEmitters>
<coneAngle>60</coneAngle>
<emitterSpeed>1000</emitterSpeed>
<emissionPeriod>1000</emissionPeriod>
<numSprites>15</numSprites>
<zOffset>100</zOffset>
<spriteScale>1</spriteScale>
<spriteFPS>20</spriteFPS>
<gravity>2000</gravity>
<timeOffset>0.3</timeOffset>
<originY>0.8</originY>
</settings>
</tank-explosion>
</options>
<smoky>
<animation frameSize="500" animationId="smoky_explosion1"/>
<animation frameSize="500" animationId="smoky_explosion2"/>
<animation frameSize="750" animationId="thunder_explosion1"/>
<animation frameSize="750" animationId="thunder_explosion2"/>
</smoky>
<flamethrower>
<animation frameSize="128" animationId="flame1"/>
<animation frameSize="128" animationId="flame2"/>
<animation frameSize="128" animationId="flame3"/>
</flamethrower>
<textures baseurl="https://old-tanks.github.io/2010/data/images/">
<texture id="skybox_1" url="https://old-tanks.github.io/2010/skybox1/01.jpg"/>
<texture id="skybox_2" url="https://old-tanks.github.io/2010/skybox1/02.jpg"/>
<texture id="skybox_3" url="https://old-tanks.github.io/2010/skybox1/03.jpg"/>
<texture id="skybox_4" url="https://old-tanks.github.io/2010/skybox1/04.jpg"/>
<texture id="skybox_5" url="https://old-tanks.github.io/2010/skybox1/05.jpg"/>
<texture id="skybox_6" url="https://old-tanks.github.io/2010/skybox1/06.jpg"/>
<texture id="red_square" url="https://old-tanks.github.io/2010/red_square.gif"/>
<texture id="green_square" url="https://old-tanks.github.io/2010/green_square.gif"/>
<texture id="teal_triangle" url="https://old-tanks.github.io/2010/teal_triangle.gif"/>
<texture id="active_spawn_marker" url="https://old-tanks.github.io/2010/green_triangle.gif"/>
<texture id="dm_spawn_marker" url="https://old-tanks.github.io/2010/yellow_marker.gif"/>
<texture id="red_spawn_marker" url="https://old-tanks.github.io/2010/red_marker.gif"/>
<texture id="blue_spawn_marker" url="https://old-tanks.github.io/2010/blue_marker.gif"/>
<texture id="blue_flag" url="https://old-tanks.github.io/2010/blue_flag-2.gif"/>
<texture id="red_flag" url="https://old-tanks.github.io/2010/red_flag.gif"/>
<texture id="smoky_muzzle_flash" url="https://old-tanks.github.io/2010/smoky/smoky_shot.png"/>
<texture id="smoky_explosion1" url="https://old-tanks.github.io/2010/smoky/smoky_explosion1.png"/>
<texture id="smoky_explosion2" url="https://old-tanks.github.io/2010/smoky/smoky_explosion2.png"/>
<texture id="flamethrower/flame1" url="https://old-tanks.github.io/2010/flamethrower/fireball1_square.png"/>
<texture id="flamethrower/flame2" url="https://old-tanks.github.io/2010/flamethrower/fireball2_square.png"/>
<texture id="flamethrower/flame3" url="https://old-tanks.github.io/2010/flamethrower/fireball3_square.png"/>
<texture id="thunder_explosion1" url="https://old-tanks.github.io/2010/smoky/thunder_explosion1.png"/>
<texture id="thunder_explosion2" url="https://old-tanks.github.io/2010/smoky/thunder_explosion2.png"/>
<texture id="banner1" url="https://old-tanks.github.io/2010/banner1.jpg"/>
<texture id="banner2" url="https://old-tanks.github.io/2010/banner2.jpg"/>
<texture id="banner3" url="https://old-tanks.github.io/2010/banner3.jpg"/>
<texture id="banner4" url="https://old-tanks.github.io/2010/banner4.jpg"/>
<texture id="billboard" url="https://old-tanks.github.io/2010/billboard.jpg"/>
<texture id="plasma/muzzle_flash" url="https://old-tanks.github.io/2010/plasma/muzzle_flash.png"/>
<texture id="plasma/shot" url="https://old-tanks.github.io/2010/plasma/shot.png"/>
<texture id="plasma/fade" url="https://old-tanks.github.io/2010/plasma/fade.png"/>
<texture id="plasma/explosion" url="https://old-tanks.github.io/2010/plasma/explosion.png"/>
<texture id="flamethrower/fireball" url="https://old-tanks.github.io/2010/flamethrower/fireball.png"/>
<texture id="tank_explosion/shockwave" url="https://old-tanks.github.io/2010/tank_explosion/shock_wave.png"/>
<texture id="tank_explosion/explosion" url="https://old-tanks.github.io/2010/tank_explosion/explosion.png"/>
<texture id="tank_explosion/smoke" url="https://old-tanks.github.io/2010/tank_explosion/smoke.png"/>
<!--


		<texture id="skybox1_up" url="https://old-tanks.github.io/2010/skybox1/up.jpg"/>
		<texture id="skybox1_down" url="https://old-tanks.github.io/2010/skybox1/down.jpg"/>
		<texture id="skybox1_left" url="https://old-tanks.github.io/2010/skybox1/left.jpg"/>
		<texture id="skybox1_right" url="https://old-tanks.github.io/2010/skybox1/right.jpg"/>
		<texture id="skybox1_front" url="https://old-tanks.github.io/2010/skybox1/front.jpg"/>
		<texture id="skybox1_back" url="https://old-tanks.github.io/2010/skybox1/back.jpg"/>
	
-->
</textures>
<textureAnimations>
<animation id="smoky_explosion1">
<textureId>smoky_explosion1</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>25</numFrames>
<fps>30</fps>
</animation>
<animation id="smoky_explosion2">
<textureId>smoky_explosion2</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>0</numFrames>
<fps>30</fps>
</animation>
<animation id="thunder_explosion1">
<textureId>thunder_explosion1</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>0</numFrames>
<fps>30</fps>
</animation>
<animation id="thunder_explosion2">
<textureId>thunder_explosion2</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>0</numFrames>
<fps>30</fps>
</animation>
<animation id="flame1">
<textureId>flamethrower/flame1</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>51</numFrames>
<fps>30</fps>
</animation>
<animation id="flame2">
<textureId>flamethrower/flame2</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>62</numFrames>
<fps>30</fps>
</animation>
<animation id="flame3">
<textureId>flamethrower/flame3</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>62</numFrames>
<fps>30</fps>
</animation>
<animation id="tank_explosion/shockwave">
<textureId>tank_explosion/shockwave</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>16</numFrames>
<fps>25</fps>
</animation>
<animation id="tank_explosion/explosion">
<textureId>tank_explosion/explosion</textureId>
<frameWidth>256</frameWidth>
<frameHeight>256</frameHeight>
<numFrames>36</numFrames>
<fps>25</fps>
</animation>
<animation id="tank_explosion/smoke">
<textureId>tank_explosion/smoke</textureId>
<frameWidth>128</frameWidth>
<frameHeight>128</frameHeight>
<numFrames>16</numFrames>
<fps>25</fps>
</animation>
<animation id="plasma/shot">
<textureId>plasma/shot</textureId>
<frameWidth>0</frameWidth>
<frameHeight>0</frameHeight>
<numFrames>0</numFrames>
<fps>25</fps>
</animation>
<animation id="plasma/explosion">
<textureId>plasma/explosion</textureId>
<frameWidth>0</frameWidth>
<frameHeight>0</frameHeight>
<numFrames>0</numFrames>
<fps>25</fps>
</animation>
</textureAnimations>
<hulls path="data/hulls">
<hull id="Hornet M0" path="hornet/m0">
<model file="hornet.3ds" lightmap="hornet_m0.jpg" details="hornet_m0.png"/>
</hull>
<hull id="Wasp M0" path="wasp/m0">
<model file="wasp_m0.3ds" lightmap="wasp_m0.jpg" details="wasp_m0.png"/>
</hull>
<hull id="Wasp M1" path="wasp/m1">
<model file="wasp_m0.3ds" lightmap="wasp_m1.jpg" details="wasp_m1.png"/>
</hull>
<hull id="Wasp M2" path="wasp/m2">
<model file="wasp_m0.3ds" lightmap="wasp_m2.jpg" details="wasp_m2.png"/>
</hull>
<hull id="Wasp M3" path="wasp/m3">
<model file="wasp_m0.3ds" lightmap="wasp_m3.jpg" details="wasp_m3.png"/>
</hull>
<hull id="Hunter M0" path="hunter/m0">
<model file="hunter.3ds" lightmap="hunter_m0.jpg" details="hunter_m0.png"/>
</hull>
<hull id="Hunter M1" path="hunter/m1">
<model file="hunter.3ds" lightmap="hunter_m1.jpg" details="hunter_m1.png"/>
</hull>
<hull id="Hunter M2" path="hunter/m2">
<model file="hunter.3ds" lightmap="hunter_m2.jpg" details="hunter_m2.png"/>
</hull>
<hull id="Hunter M3" path="hunter/m3">
<model file="hunter.3ds" lightmap="hunter_m3.jpg" details="hunter_m3.png"/>
</hull>
<hull id="Titan M0" path="titan/m0">
<model file="titan.3ds" lightmap="titan_m0.jpg" details="titan_m0.png"/>
</hull>
<hull id="Titan M1" path="titan/m1">
<model file="titan.3ds" lightmap="titan_m1.jpg" details="titan_m1.png"/>
</hull>
<hull id="Titan M2" path="titan/m2">
<model file="titan.3ds" lightmap="titan_m2.jpg" details="titan_m2.png"/>
</hull>
<hull id="Titan M3" path="titan/m3">
<model file="titan.3ds" lightmap="titan_m3.jpg" details="titan_m3.png"/>
</hull>
<hull id="Dictator M0" path="dictator/m0">
<model file="dictator.3ds" lightmap="dictator_m0.jpg" details="dictator_m0.png"/>
</hull>
<hull id="Dictator M1" path="dictator/m1">
<model file="dictator.3ds" lightmap="dictator_m1.jpg" details="dictator_m1.png"/>
</hull>
<hull id="Dictator M2" path="dictator/m2">
<model file="dictator.3ds" lightmap="dictator_m2.jpg" details="dictator_m2.png"/>
</hull>
<hull id="Dictator M3" path="dictator/m3">
<model file="dictator_m3.3ds" lightmap="dictator_m3.jpg" details="dictator_m3.png"/>
</hull>
<hull id="Hornet M1" path="hornet/m1">
<model file="hornet.3ds" lightmap="hornet_m1.jpg" details="hornet_m1.png"/>
</hull>
<hull id="Hornet M2" path="hornet/m2">
<model file="hornet.3ds" lightmap="hornet_m2.jpg" details="hornet_m2.png"/>
</hull>
<hull id="Hornet M3" path="hornet/m3">
<model file="hornet.3ds" lightmap="hornet_m3.jpg" details="hornet_m3.png"/>
</hull>
<hull id="Viking M0" path="viking/m0">
<model file="viking.3ds" lightmap="viking_m0.jpg" details="viking_m0.png"/>
</hull>
<hull id="Viking M1" path="viking/m1">
<model file="viking.3ds" lightmap="viking_m1.jpg" details="viking_m1.png"/>
</hull>
<hull id="Viking M2" path="viking/m2">
<model file="viking.3ds" lightmap="viking_m2.jpg" details="viking_m2.png"/>
</hull>
<hull id="Viking M3" path="viking/m3">
<model file="viking.3ds" lightmap="viking_m3.jpg" details="viking_m3.png"/>
</hull>
<hull id="Mammoth M0" path="mammoth/m0">
<model file="mammoth.3ds" lightmap="mammoth_m0.jpg" details="mammoth_m0.png"/>
</hull>
<hull id="Mammoth M1" path="mammoth/m1">
<model file="mammoth.3ds" lightmap="mammoth_m1.jpg" details="mammoth_m1.png"/>
</hull>
<hull id="Mammoth M2" path="mammoth/m2">
<model file="mammoth.3ds" lightmap="mammoth_m2.jpg" details="mammoth_m2.png"/>
</hull>
<hull id="Mammoth M3" path="mammoth/m3">
<model file="mammoth.3ds" lightmap="mammoth_m3.jpg" details="mammoth_m3.png"/>
</hull>
</hulls>
<turrets path="data/turrets">
<turret id="Smoky M0" path="smoky/m0">
<model file="smoky_m01.3ds" lightmap="smoky_m0.jpg" details="smoky_m0.png"/>
</turret>
<turret id="Smoky M1" path="smoky/m1">
<model file="smoky_m01.3ds" lightmap="smoky_m1.jpg" details="smoky_m1.png"/>
</turret>
<turret id="Smoky M2" path="smoky/m2">
<model file="smoky_m23.3ds" lightmap="smoky_m2.jpg" details="smoky_m2.png"/>
</turret>
<turret id="Smoky M3" path="smoky/m3">
<model file="smoky_m23.3ds" lightmap="smoky_m3.jpg" details="smoky_m3.png"/>
</turret>
<turret id="FireBird M0" path="firebird/m0">
<model file="firebird_m012.3ds" lightmap="fireBird_m0.jpg" details="fireBird_m0.png"/>
</turret>
<turret id="FireBird M1" path="firebird/m1">
<model file="firebird_m012.3ds" lightmap="fireBird_m1.jpg" details="fireBird_m1.png"/>
</turret>
<turret id="FireBird M2" path="firebird/m2">
<model file="firebird_m012.3ds" lightmap="fireBird_m2.jpg" details="fireBird_m2.png"/>
</turret>
<turret id="FireBird M3" path="firebird/m3">
<model file="firebird_m3.3ds" lightmap="fireBird_m3.jpg" details="fireBird_m3.png"/>
</turret>
<turret id="Twins M0" path="twins/m0">
<model file="twins.3ds" lightmap="twins_m0.jpg" details="twins_m0.png"/>
</turret>
<turret id="Twins M1" path="twins/m1">
<model file="twins.3ds" lightmap="twins_m1.jpg" details="twins_m1.png"/>
</turret>
<turret id="Twins M2" path="twins/m2">
<model file="twins_m2.3ds" lightmap="twins_m2.jpg" details="twins_m2.png"/>
</turret>
<turret id="Twins M3" path="twins/m3">
<model file="twins_m3.3ds" lightmap="twins_m3.jpg" details="twins_m3.png"/>
</turret>
<turret id="Railgun M0" path="railgun/m0">
<model file="railgun_m012.3ds" lightmap="railgun_m0.jpg" details="railgun_m0.png"/>
</turret>
<turret id="Railgun M1" path="railgun/m1">
<model file="railgun_m012.3ds" lightmap="railgun_m1.jpg" details="railgun_m1.png"/>
</turret>
<turret id="Railgun M2" path="railgun/m2">
<model file="railgun_m012.3ds" lightmap="railgun_m2.jpg" details="railgun_m2.png"/>
</turret>
<turret id="Railgun M3" path="railgun/m3">
<model file="railgun_m3.3ds" lightmap="railgun_m3.jpg" details="railgun_m3.png"/>
</turret>
<turret id="Thunder M0" path="thunder/m0">
<model file="thunder_m0123.3ds" lightmap="thunder_m0.jpg" details="thunder_m0.png"/>
</turret>
<turret id="Thunder M1" path="thunder/m1">
<model file="thunder_m0123.3ds" lightmap="thunder_m1.jpg" details="thunder_m1.png"/>
</turret>
<turret id="Thunder M2" path="thunder/m2">
<model file="thunder_m0123.3ds" lightmap="thunder_m2.jpg" details="thunder_m2.png"/>
</turret>
<turret id="Thunder M3" path="thunder/m3">
<model file="thunder_m0123.3ds" lightmap="thunder_m3.jpg" details="thunder_m3.png"/>
</turret>
<turret id="Isida M0" path="isida/m0">
<model file="isida_m0123.3ds" lightmap="isida_m0.jpg" details="isida_m0.png"/>
</turret>
<turret id="Isida M1" path="isida/m1">
<model file="isida_m0123.3ds" lightmap="isida_m1.jpg" details="isida_m1.png"/>
</turret>
<turret id="Isida M2" path="isida/m2">
<model file="isida_m0123.3ds" lightmap="isida_m2.jpg" details="isida_m2.png"/>
</turret>
<turret id="Isida M3" path="isida/m3">
<model file="isida_m0123.3ds" lightmap="isida_m3.jpg" details="isida_m3.png"/>
</turret>
<turret id="Freeze M0" path="freeze/m0">
<model file="freeze.3ds" lightmap="freeze_m0.jpg" details="freeze_m0.png"/>
</turret>
<turret id="Freeze M1" path="freeze/m1">
<model file="freeze.3ds" lightmap="freeze_m1.jpg" details="freeze_m1.png"/>
</turret>
<turret id="Freeze M2" path="freeze/m2">
<model file="freeze.3ds" lightmap="freeze_m2.jpg" details="freeze_m2.png"/>
</turret>
<turret id="Freeze M3" path="freeze/m3">
<model file="freeze.3ds" lightmap="freeze_m3.jpg" details="freeze_m3.png"/>
</turret>
<turret id="Ricochet M0" path="ricochet/m0">
<model file="ricochet.3ds" lightmap="ricochet_m0.jpg" details="ricochet_m0.png"/>
</turret>
<turret id="Ricochet M1" path="ricochet/m1">
<model file="ricochet.3ds" lightmap="ricochet_m1.jpg" details="ricochet_m1.png"/>
</turret>
<turret id="Ricochet M2" path="ricochet/m2">
<model file="ricochet.3ds" lightmap="ricochet_m2.jpg" details="ricochet_m2.png"/>
</turret>
<turret id="Ricochet M3" path="ricochet/m3">
<model file="ricochet.3ds" lightmap="ricochet_m3.jpg" details="ricochet_m3.png"/>
</turret>
<turret id="Shaft M0" path="shaft/m0">
<model file="shaft.3ds" lightmap="shaft_m0.jpg" details="shaft_m0.png"/>
</turret>
<turret id="Shaft M1" path="shaft/m1">
<model file="shaft.3ds" lightmap="shaft_m1.jpg" details="shaft_m1.png"/>
</turret>
<turret id="Shaft M2" path="shaft/m2">
<model file="shaft.3ds" lightmap="shaft_m2.jpg" details="shaft_m2.png"/>
</turret>
<turret id="Shaft M3" path="shaft/m3">
<model file="shaft.3ds" lightmap="shaft_m3.jpg" details="shaft_m3.png"/>
</turret>
</turrets>
<colormaps path="data/colormaps">
<colormap id="1" file="colormap_1.jpg"/>
<colormap id="2" file="colormap_01.jpg"/>
<colormap id="3" file="colormap_2.jpg"/>
<colormap id="4" file="colormap_02.jpg"/>
<colormap id="5" file="colormap_3.jpg"/>
<colormap id="6" file="colormap_03.jpg"/>
<colormap id="7" file="colormap_4.jpg"/>
<colormap id="8" file="colormap_04.jpg"/>
<colormap id="9" file="colormap_5.jpg"/>
<colormap id="10" file="colormap_05.jpg"/>
<colormap id="11" file="colormap_6.jpg"/>
<colormap id="12" file="colormap_06.jpg"/>
<colormap id="13" file="colormap_49.jpg"/>
<colormap id="14" file="colormap_11.jpg"/>
<colormap id="15" file="colormap_24.jpg"/>
<colormap id="16" file="colormap_43.jpg"/>
</colormaps>
</config>